@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nosifer&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.fundo{
    background-image: url(img/home-img.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    font-size: 100px;
}

.links{
    display: flex;
    gap: 20px;
}

.links a{
    color: #fff;
}
.links a:hover{
    color: #d3b26a;
}

.icones{
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 30px;
}
.icones span:hover{
    color: #d3b26a;
}

.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 10%;
}

.titulo h1{
    font-family: 'Nosifer';
    color: #fff;
    font-size: 50px;
}

.conteudo p{
    font-family: 'Courgette';
    color: #fcfcfc;
    margin-top: 10px;
}

button{
    width: 150px;
    height: 40px;
    margin-top: 10px;
    background-color: #d3b26a;
    border: none;
    box-sizing: border-box;
    color: #fff;
}
button:hover{
    background-color: #fcfcfc;
    color: black;
}