@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nosifer&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
 background-color: black;
}

.fundo{
    background-image: url(/assets/img/home-img.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    font-size: 100px;
}

.links{
    display: flex;
    gap: 20px;
}

.links a{
    color: #fff;
}
.links a:hover{
    color: #d3b26a;
}

.icones{
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 30px;
}
.icones span:hover{
    color: #d3b26a;
}

.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.titulo h1{
    font-family: 'Nosifer';
    color: #fff;
    font-size: 50px;
}

.conteudo p{
    font-family: 'Courgette';
    color: #fcfcfc;
    margin-top: 10px;
}

button{
    width: 150px;
    height: 40px;
    margin-top: 10px;
    background-color: #d3b26a;
    border: none;
    box-sizing: border-box;
    color: #fff;
}
button:hover{
    background-color: #fcfcfc;
    color: black;
}

/***************section 1 - sobre***************/

#section-1{
    padding: 5rem;
}
#section-1 h1{
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding-bottom: 3rem;
}

h1 span{
    color: #d3b26a;
}
.sobre-texto{
    display: flex;
    background-color: #131313;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.sobre-texto img{
max-width: 100%;
width: 100%;
height: auto;
width: 30rem;
}
.sobre-conteudo{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.sobre-conteudo h2{
    color: #fff;
    font-size: 30px;
   
}

.sobre-conteudo p{
    margin-top: 20px;
    color: #fcfcfc;
    letter-spacing: 3px;
    line-height: 30px;
}

/*********** section-2***********/
#section-2{
    padding: 5rem;
}
#section-2 h1{
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding-bottom: 3rem;
}

.conteudo-cards-1{
    display: flex;
    justify-content: center;
    gap: 1%;
    align-items: center;
    color: #fff;
    text-align: center;
    flex-wrap: wrap;
}

.card:hover{
    transform: scale(1.05);
    transition-duration: 0.5s all;
    background-color: #1f1a0f;
}

.conteudo-cards-1 span, .conteudo-cards-2 span{
    font-size: 10px;
    text-decoration: line-through;
}

.card{
    border-style: dotted ;
    border-color: #fff #fff #e6ab2e #e6ab2e;
    border-width: 1px;
    padding: 50px;
}

.conteudo-cards-2{
    display: flex;
    justify-content: center;
    gap: 1%;
    align-items: center;
    color: #fff;
    padding-top: 5rem;
    text-align: center;
}

/********************section-3*******************/
.section-3{
    padding: 5rem;
}

.section-3 h1{
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding-bottom: 3rem;
}

.conteudi-card2{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.cards{
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 20px;
    border: solid 1px #fff;
}

.icones-card{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.icones-card a{
    color: #fff;
    border: solid 1px #fff;
    font-size: 30px;
    padding: 5px;
}

.img-card img{
    width: 100px;
}

.title-card h3{
    color: #fff;
    font-size: 12px;
}

.estrelas a{ 
    color: #f5b120;
}

.preco{
    color: #fff;
    font-size: 10px;
}

.preco span{
    color: #e6ab2e;
    text-decoration: line-through #fff
    ;
}

/********************section-4*******************/
.section-4{
    padding: 5rem;
}

.section-4 h1{
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding-bottom: 3rem;
}

.conteudo-card4{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.card4{
    width: 25%;
    border: solid 1px #fff;
    margin: 20px;
}

.title-aspas img{
    width: 50px;
    padding-top: 50px;
}

.texto-p{
    color: #fff;
    margin: 25px;
    font-size: 13px;
    
}
.foto-perfil img{
    width: 80px;
    padding-bottom: 20px;
}

.foto-perfil h4 {
    color: #fff;
}
.estrelas {
    padding-bottom: 40px;
}
/********************section-5*******************/

.section-5{
    padding: 5rem;
}
.section-5 h1{
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding-bottom: 3rem;
}

.formulario{
    display: flex;
    justify-content: center;
    
}
.map{
width: 300px;
height: auto;
}

.formulario form{
    background-color: #191924;
    width: 40rem;
    height: auto;
    align-items: center;
}

.formulario h3{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 2px;
}

.icone-f{
    width: 100%;
    height: auto;
    display: flex;
    padding: 5px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.icone-f a{
    background-color: #000;
    padding: 10px;
    color: #fff;
    padding-right: 20px;
}

.icone-f input{
    width: 100%;
    border: none;
    background-color: #000;
}

button{
    margin-left: 40px;
    margin-bottom: 20px;
}

/********************section-5*******************/

.section-6{
    padding: 5rem;
}

.section-6 h1{
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding-bottom: 3rem;
}

.conteudo-card6{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.card6{
    border: solid 1px #fff;
    width: 300px;
}

.imagem img{
    width: 100%;
}

.texto6{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
}

.texto6 span{
    color: #e6ab2e;
    font-size: 10px;
}

p{
    font-size: 11px;
}
.card6 button{
    width: 80px;
}

footer{
    background-color: #191924;
    width: 90%;
    margin: auto;
}

.midia-social{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    padding-top: 50px;
}
.midia-social a{
    font-size: 30px;
    color: #fff;
    margin-bottom: 30px;
}

.rodape ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    gap: 10px;
}

.rodape ul li{
    color: #fff;
    border: solid 1px #fff;
    padding: 10px;
    width: 80px;
    align-items: center;
    text-align: center;
}

.fim{
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 40px;
}

